@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
* {
  font-family: 'Jeju Gothic', sans-serif;
}

.daum-color {
  color: #333 !important;
  background-color: #ffdc00 !important;
}

.facebook-color {
  color : #ffffff !important;
  background-color: #3b5998 !important;
}

.twitter-color {
  color: #55acee !important;
  background-color: #55acee !important;
}

.google-color {
  color: #ffffff !important;
  background-color: #dd4b39 !important;
}

.linkedin-color {
  color: #007bb5 !important;
  background-color: #007bb5 !important;
}

.naver-color {
  color : #ffffff !important;
  background-color: #00c73c !important;
}

/* navigation header - start */
.navbar {
    font-family: 'Jeju Hallasan';
    margin-bottom: 0;
    background-color: #000;
    border: 0;
    font-size: 15px !important;
    letter-spacing: 1px;
    opacity: 0.9;
}
.navbar li a, .navbar .navbar-brand {
    color: #ffffff !important;
}

.navbar .navbar-brand {
    padding: 10px 20px;
}
.navbar .navbar-brand img{
    height: 30px;
}

.navbar .navbar-brand img:hover{
    -webkit-transition: filter 0.35s ease, font-size 0.35s ease;
    -moz-transition: filter 0.35s ease, font-size 0.35s ease;
    -o-transition:filter 0.35s ease, font-size 0.35s ease;
    transition: filter 0.35s ease, font-size 0.35s ease;
    filter: contrast(160%);
}

.navbar .dropdown-menu a {
  font-size: 1.4rem;
}

.navbar-nav li a:hover {
    -webkit-transition: filter 0.35s ease, font-size 0.35s ease;
    -moz-transition: filter 0.35s ease, font-size 0.35s ease;
    -o-transition:filter 0.35s ease, font-size 0.35s ease;
    transition: filter 0.35s ease, font-size 0.35s ease;
    color: #46d78f !important;
    font-size: 16px !important;
}
.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}
.dropdown-menu li a {
    color: #000 !important;
}
.dropdown-menu li a:hover {
    background-color: #46d78f !important;
}

.raiz-color {
  color: #27b874;

}

.raiz-background-color {

  background-color: #27b874;
}


.green{

}
/* navigation header - end   */

/* loader */
.cs-loader {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  /* height: 100%;
  width: 100%; */
}

.cs-loader-inner {
  transform: translateY(-50%);
  /* top: 50%;
  position: absolute;
  width: calc(100% - 200px); */
  color: #86ce80;
  padding: 0 100px;
  text-align: center;
}

.cs-loader-inner label {
  font-size: 20px;
  opacity: 0;
  display:inline-block;
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.cs-loader-inner label:nth-child(6) {
  -webkit-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}


/* 회원가입 */
#modalRegisterForm label:after,
#modalLoginForm label:after {
  top: 50px;
  /* width: 50px; */
}

#sns_login {
  display: flex;
}

#sns_login .btn {
  font-size: 1.1rem;
  margin: 0;
  margin-bottom: 2rem;
  margin-right: 8px;
  margin-left: 8px;
}

.form-input-wrong {
  border-bottom: 1px solid #F44336 !important;
  box-shadow: 0 1px 0 0 #F44336 !important;
}

.form-input-right {
  border-bottom: 1px solid #00C851 !important;
  box-shadow: 0 1px 0 0 #00C851 !important;
}

/* toaster */

/* The snackbar - position it at the bottom and in the middle of the screen */
.snackbar {
    font-size: 13px;
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 6px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1300; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    top: 110px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 110px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 110px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 110px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 110px; opacity: 1;}
    to {top: 0; opacity: 0;}
}


@keyframes rotating
	{
	from
		{
		transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		}
	to
		{
		transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		}
	}
@-webkit-keyframes rotating
	{
	from
		{
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		}
	to
		{
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		}
	}

.rotating
	{
	-webkit-animation: rotating 0.35s linear infinite;
	-moz-animation: rotating 0.35s linear infinite;
	-ms-animation: rotating 0.35s linear infinite;
	-o-animation: rotating 0.35s linear infinite;
	animation: rotating 0.35s linear infinite;
	}
