/* test css */
.stcsHide{
  display: none;
}


.stcs_ol{
  position: absolute;
  background: #fff;
  border: 1px solid #888;
  border-radius: 3px;
  font-size: 12px;
  top: -5px;
  left: 15px;
  padding:2px;
}

.stcs_label{
  position: absolute;
  background: #fff;
  border: 1px solid #888;
  border-radius: 3px;
  font-size: 12px;
  top: -5px;
  left: 15px;
  padding:2px;
}

.raiz-window-body .stcs{
  overflow-y: scroll;
}

.stcs-initdata {
  position: absolute;
  width: 100%;
  height: calc(100% - 20px);
  overflow-y: scroll;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #F5F7FA;
  display: block;
}

.stchart {
  width: inherit !important;
  height: inherit !important;
  padding-bottom: 5px;
  left: 50% !important;
  transform: translateX(-50%);
  position: relative !important;
}

.stcs-window {
  width: 1100px;
  height: 850px;
}


.stcs-container{
  background-color:rgba(0,0,0,0.5);
  height: 60%;
  color: white;
  border-bottom-right-radius: 2em;

}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
.loading{
  font-family:arial;
  font-size:7px;
}

.stcsLoading {
  z-index: 1000;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  display:flex;
  align-items:center;
  justify-content:center;
  /* height:100vh; */
}


.stcsbottom {
  display: inline-block;
  padding: .3em;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 20px;
    padding-right: 20px;
}

.card {
    margin-bottom: 1.875rem;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
    color: #404E67;
    text-align: left;
}

.card-text-center {
    text-align: center !important;
}

.align-items-stretch {
    -webkit-box-align: stretch !important;
    -webkit-align-items: stretch !important;
    -moz-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
}

.media {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #FFFFFF;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 0.25rem;
}


.white {
  color : #FFFFFF !important;
}

.font-large-2 {
    font-size: 3rem !important;
    color: white;
    display: inline-block;
    padding: .3em;
}

.card-header {
    padding: 1.5rem 1.5rem;
    padding-top: .3em;
    margin-bottom: 0;
    background-color: #FFFFFF;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    border-bottom: none;
    padding-bottom: 0;
}

.card-header:first-child {
    border-radius: -webkit-calc(0.25rem - 1px) -webkit-calc(0.25rem - 1px) 0 0;
    border-radius: -moz-calc(0.25rem - 1px) -moz-calc(0.25rem - 1px) 0 0;
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header .card-title {
    margin-bottom: 0;
}

.card .card-title {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.05rem;
    font-size: 1.12rem;
}


.height-200 {
    height: 280px !important;
}

.media-list {
  padding-top: .5em;
}

.float-right {
  float: right;
}

.bg-primary.bg-darken-2 {
    background-color: #00A5A8 !important;
}

.bg-gradient-x-primary {
    background-image: -webkit-gradient(linear, left top, right top, from(#00A5A8), to(#4DCBCD));
    background-image: -webkit-linear-gradient(left, #00A5A8 0%, #4DCBCD 100%);
    background-image: -moz-linear-gradient(left, #00A5A8 0%, #4DCBCD 100%);
    background-image: -o-linear-gradient(left, #00A5A8 0%, #4DCBCD 100%);
    background-image: linear-gradient(to right, #00A5A8 0%, #4DCBCD 100%);
    background-repeat: repeat-x;
}

.bg-danger.bg-darken-2 {
    background-color: #FF6275 !important;
}

.bg-gradient-x-danger {
    background-image: -webkit-gradient(linear, left top, right top, from(#FF6275), to(#FF9EAC));
    background-image: -webkit-linear-gradient(left, #FF6275 0%, #FF9EAC 100%);
    background-image: -moz-linear-gradient(left, #FF6275 0%, #FF9EAC 100%);
    background-image: -o-linear-gradient(left, #FF6275 0%, #FF9EAC 100%);
    background-image: linear-gradient(to right, #FF6275 0%, #FF9EAC 100%);
    background-repeat: repeat-x;
}

.bg-warning.bg-darken-2 {
    background-color: #FF976A !important;
}

.bg-gradient-x-warning {
    background-image: -webkit-gradient(linear, left top, right top, from(#FF976A), to(#FFC2A4));
    background-image: -webkit-linear-gradient(left, #FF976A 0%, #FFC2A4 100%);
    background-image: -moz-linear-gradient(left, #FF976A 0%, #FFC2A4 100%);
    background-image: -o-linear-gradient(left, #FF976A 0%, #FFC2A4 100%);
    background-image: linear-gradient(to right, #FF976A 0%, #FFC2A4 100%);
    background-repeat: repeat-x;
}

.bg-success.bg-darken-2 {
    background-color: #10C888 !important;
}

.bg-gradient-x-success {
    background-image: -webkit-gradient(linear, left top, right top, from(#10C888), to(#5CE0B8));
    background-image: -webkit-linear-gradient(left, #10C888 0%, #5CE0B8 100%);
    background-image: -moz-linear-gradient(left, #10C888 0%, #5CE0B8 100%);
    background-image: -o-linear-gradient(left, #10C888 0%, #5CE0B8 100%);
    background-image: linear-gradient(to right, #10C888 0%, #5CE0B8 100%);
    background-repeat: repeat-x;
}

.bg-info.bg-darken-2 {
    background-color: #22C2DC !important;
}

.bg-gradient-x-info {
    background-image: -webkit-gradient(linear, left top, right top, from(#22C2DC), to(#6CDDEB));
    background-image: -webkit-linear-gradient(left, #22C2DC 0%, #6CDDEB 100%);
    background-image: -moz-linear-gradient(left, #22C2DC 0%, #6CDDEB 100%);
    background-image: -o-linear-gradient(left, #22C2DC 0%, #6CDDEB 100%);
    background-image: linear-gradient(to right, #22C2DC 0%, #6CDDEB 100%);
    background-repeat: repeat-x;
}


/*  */



/*  */
