* {
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
}

body {
  height:100%;
  min-height: 100%;
  position:relative;
  /*overflow: hidden;*/
}

/* mapContainer */
#map {
  top: 50px;
  -webkit-transition: width 0.35s ease;
  -moz-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  transition: width 0.35s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: calc(100% - 50px);
  padding: 0px;
  position: relative;
}

/* raiz-controller */
.raiz-controller {
  display: flex;
  position: absolute;
  top: 50px;
  /* height: 40px;
  width: 100%; */
  z-index: 10;
  /* background-color: #424245a3; */
}

/* raiz-window */
.raiz-window-container {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 15vh;
  right: 6vw;
  width: 700px;
  height: 700px;
  z-index: 15;
  /* background-color: #ffffffa8; */
  background-color: white;
  border-radius: 4px;
  border : 1px solid #8d9193;
  /* display: none; */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.raiz-window-container:hover, .raiz-window-container:active {
  border: 1px solid #27b874;
}

.raiz-window-container canvas{
  cursor: grab;
  cursor: -webkit-grab;
  position: absolute;
  left: 0px;
}

#toji-indivPrice-canvas{
  position: relative;
}

.grab{
  cursor: grab;
  cursor: -webkit-grab;
}

.grabbing{
  cursor: grabbing !important;
  cursor: -webkit-grabbing !important;
}

.raiz-window-top{
  width: 100%;
  height: 30px;
  line-height: 2em;
  border-bottom: 1px solid black;
  background-color: #2d2d2d;
  color: white;
  padding-left: 2vw;
}

.raiz-window-top .column{
  margin-right: 0.5rem;
  height: 100%;
}

.raiz-window-top .controller{
  float: right;
}

.raiz-window-top .header{
  float: left;
}

.raiz-window-top .column span {
  font-size: 1.2rem;
  font-weight: 900;
  margin-left: 1rem;
  color: white;
}

.raiz-window-body{
  width: 100%;
  color: white;
  text-align: center;
}

.raiz-window-footer{
  position: absolute;
  width: 100%;
  height: 2.3rem;
  bottom: 0px;
}

/* raiz info tab */
.raiz-window-info {
  display: none;
  z-index: 2;
  box-shadow : 15px 15px 15px 15px rgba(0,0,0,0.3);
  position: absolute;
  right: 0px;
  width: 300px;
  height: calc(100% - 30px);
  background-color: #ececec;
  overflow-y: scroll;
}

.raiz-window-info-header{
  width: 100%;
  height: 40px;
  background-color: #333;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.raiz-window-info-header div{
  box-shadow : 1px 1px 1px 1px rgba(0,0,0,0.3);
}

.raiz-window-info-header span {
  float: left;
  font-size: 25px;
  line-height: 1.5em;
  cursor: pointer;
}

.raiz-window-info-header div{
  float: left;
  font-size: 20px;
  line-height: 1.8em;
  padding-left:20px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* raiz compass */
.raiz-compass{
  z-index : 2;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
  position: absolute;
  bottom: 10px;
  left: 10px;
  border: 3px solid #333;
	box-shadow:
		0 0 4px #000,
		0 0 1px 5px #ccc,
		5px 10px 15px #48436f;
}
.raiz-compass:before {
	content: '';
	border: 1px dashed #444;
	position: absolute;
	left: 10px; right: 10px;
	bottom: 10px; top: 10px;

	border-radius: 50%;
}

/* .raiz-compass:after {
	content: '';

	position: absolute;
	left: -10px; right: -10px;
	bottom: -10px; top: -10px;

	border-radius: 50%;

	background: linear-gradient(
		-45deg,
		rgba(255,255,255,0.9) 0%,
		rgba(255,255,255,0.3) 47%,
		rgba(255,255,255,0) 48%,
		rgba(255,255,255,0) 100%
	);
} */

/* neat! lets position the directions now - N E S W */

.raiz-compass span {
	position: absolute;
	font-weight: bold;
}

/* North */
.raiz-compass span:nth-child(1) {
	left: 32px; top: -4px;
  color: red;
}
/* South */
.raiz-compass span:nth-child(3) {
	left: 32px; bottom: -4px;
  color: blue;
}

/* East */
.raiz-compass span:nth-child(2) {
	right: 0px; top: 25px;
  color: black;
}
/* West */
.raiz-compass span:nth-child(4) {
	left: 0px; top: 25px;
  color:black;
}

/* pointer  */
.raiz-compass-pointer{
	width: 10px; height: 30px;

	/* Centering it */
	position: relative;
	left: 50%; top: 50%;
	margin-left: -5px; margin-top: -15px;
  transform: rotate(60deg);
}

.raiz-compass-pointer:before {
	content: '';

	position: absolute;
	left: 0; right: 0;
	top: 0; bottom: 0;

	background: linear-gradient(
		-63deg,
		rgba(79,188,242,1) 1%,
		rgba(26,110,206,1) 50%,
		rgba(216,216,216,1) 51%,
		rgba(244,94,80,1) 53%,
		rgba(255,45,45,1) 100%
	);

	transform: scale(0.7) skewX(60deg);
}

/* Looks good, lets make the pointer's joint now */

.raiz-compass-pointer:after {
	content: '';

	width: 10px; height: 10px;
	background: #4781c0;
	border-radius: 50%;
	box-shadow:
		inset 0 0 4px 2px #4d4d4d,
		0 0 5px 1px white;

	/* centering it */
	position: absolute;
	left: 50%; top: 50%;
	margin-left: -5px; margin-top: -5px;
}


/* raiz toji info icon */
.toji-info-icon{
  position: absolute;
  z-index: 2;
  top: 40px;
  right: 30px;
  color: #333;
  font-size: 22px;
  cursor: pointer;
}

/* raiz bullding info icon */
.building-info-icon{
  position: absolute;
  z-index: 2;
  top: 80px;
  right: 30px;
  color: #333;
  font-size: 22px;
  cursor: pointer;
}

.raiz-info-icon {
  -webkit-transition: right 0.1s;
   -moz-transition: right 0.1s;
     -o-transition: right 0.1s;
        transition: right 0.1s;
}

.raiz-info-icon:hover {
  -webkit-transition: color 0.1s;
   -moz-transition: color 0.1s;
     -o-transition: color 0.1s;
        transition: color 0.1s;
  color: #49d690;
}
.raiz-mouse-control span:hover{
  -webkit-transition: color 0.5s;
   -moz-transition: color 0.5s;
     -o-transition: color 0.5s;
        transition: color 0.5s;
  color: #49d690;
}
/* reset control */
.raiz-reset{
  position: absolute;
  z-index: 2;
  bottom: 20px;
  right: 30px;
  color: #333;
  font-size: 22px;
  cursor: pointer;
}

.raiz-reset:hover {
  -webkit-transition: color 0.1s;
   -moz-transition: color 0.1s;
     -o-transition: color 0.1s;
        transition: color 0.1s;
  color: #49d690;
}

.raiz-reset span:hover{
  -webkit-transition: color 0.5s;
   -moz-transition: color 0.5s;
     -o-transition: color 0.5s;
        transition: color 0.5s;
  color: #49d690;
}

/* mouse controller helper */
.raiz-mouse-control{
  position: absolute;
  left: 30px;
  z-index: 2;
  top: 40px;
}

.raiz-mouse-control span{
  color: #333;
  font-size: 25px;
  cursor: pointer;
}

.raiz-mouse-control-info{
  position: absolute;
  top: 70px;
  left: 10px;
  z-index: 2;
  display: none;
}

.raiz-mouse-control-img {
  display: flex;
}

.raiz-mouse-control-img img{
  margin-left: 15px;
  margin-right: 15px;
}

.raiz-mouse-control-text{
  color: #333;
  display: flex;

}

.raiz-mouse-control-text p{
  font-size: 13px;
  letter-spacing: -1px;
  width: 70px;
  padding: 5px;
}

/* 정보창 */
.toji-info{
  position: relative;
  border: 1px solid #333;
  background-color: white;
}


/* 토지특성정보창 */


.toji-characteristics-header,
.toji-possession-header,
.toji-usage-header,
.toji-indivPrice-header,
.building-titleInfo-header,
.building-recapTitleInfo-header {
  cursor: pointer;
  width: 100%;
  line-height: 2em;
  border-bottom: 1px solid black;
  background-color: #2d2d2d;
  padding: 0;
  color: white;
  border: 1px solid #8b8585;
}

.toji-characteristics-header:hover,
.toji-possession-header:hover,
.toji-usage-header:hover,
.toji-indivPrice-header:hover,
.building-titleInfo-header:hover,
.building-recapTitleInfo-header:hover {
  -webkit-transition: background-color 0.5s,border 0.5s, font-size 2s;
   -moz-transition: background-color 0.5s,border 0.5s, font-size 2s;
     -o-transition: background-color 0.5s,border 0.5s, font-size 2s;
        transition: background-color 0.5s, border 0.5s, font-size 2s;
  border:1px solid #000000;
  color: black;
  background-color: white;
  /* font-size: 15px; */
}

.toji-characteristics-body,
.toji-possession-body,
.toji-usage-body,
.building-titleInfo-body,
.building-recapTitleInfo-body {
  width: 100%;
  color: black;
}

.building-titleInfo-body-title,
.building-recapTitleInfo-body-title {
  text-align: left;
  /* padding-left: 20%; */
  text-align: center;
  border : 1px solid #ccc7c7;
  font-weight: bold;
  height: 35px;
  line-height: 2.3em;
  background-color: #ececec;
  cursor: pointer;
}

.building-titleInfo-body-title:hover,
.building-recapTitleInfo-body-title:hover {
  -webkit-transition: background-color 0.5s,color 0.5s, font-size 2s;
   -moz-transition: background-color 0.5s,color 0.5s, font-size 2s;
     -o-transition: background-color 0.5s,color 0.5s, font-size 2s;
        transition: background-color 0.5s, color 0.5s, font-size 2s;
  background-color : #333;
  color: #ffffff;
}

.building-titleInfo-body-title span,
.building-recapTitleInfo-body-title span{
  float: right;
  padding-right: 20px;
  line-height: 2em;
}

.building-titleInfo-body-info,
.building-recapTitleInfo-body-info {
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  border: 1px solid #a8a2a2;
  background-color: #ffffff;
}

.building-titleInfo-body-info span {
  float: right;
  line-height: 2em;
}

/* .toji-characteristics-table div:nth-child(2n),
.toji-possession-table div:nth-child(2n),
.toji-usage-table div:nth-child(2n),
.building-titleInfo-body-info div:nth-child(2n),
.building-recapTitleInfo-body-info div:nth-child(2n){
  border-bottom: 1px solid #333;
}

.toji-characteristics-table div:nth-child(odd),
.toji-possession-table div:nth-child(odd),
.toji-usage-tabel div:nth-child(odd),
.building-titleInfo-body-info div:nth-child(odd),
.building-recapTitleInfo-body-info div:nth-child(odd){
  font-weight: bold;
} */

.flrInfo-lookup,
.pubInfo-lookup{
  width:100%;
  height: 100%;
  line-height: 2em;
  /* background-color: #333; */
  color: #333;
  border-top: 1px solid #333;
  padding-left: 5px;
  padding-right: 5px;
  /* border-bottom: 1px solid #333; */
  text-align: center;

}

.flrInfo-header:hover,
.pubInfo-header:hover {
  -webkit-transition: background-color 0.5s,color 0.5s, font-size 2s;
   -moz-transition: background-color 0.5s,color 0.5s, font-size 2s;
     -o-transition: background-color 0.5s,color 0.5s, font-size 2s;
        transition: background-color 0.5s, color 0.5s, font-size 2s;
  color : #ffffff;
  background-color: #333;
  cursor : pointer;
}

.flrInfo,
.pubInfo{
  display: none;
  padding-top: 10px;
  background-color: #ffffff;
  color : #000000;
}

.flrInfo .flr,
.pubInfo .flr{
  width: 120px;
  cursor: pointer;
  margin: 1px;

}

.flr3d {
  margin-bottom: 5px;
  color: #ffffff;
  border-radius: 25px;
  background-color: #73AD21;
  cursor: pointer;
}

.flr3d:hover{
  -webkit-transition: box-shadow 0.5s,color 0.5s, font-size 2s;
   -moz-transition: box-shadow 0.5s,color 0.5s, font-size 2s;
     -o-transition: box-shadow 0.5s,color 0.5s, font-size 2s;
        transition: box-shadow 0.5s, color 0.5s, font-size 2s;
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

@media only screen and (max-width: 768px) {
  .raiz-window-container {
    top: 60vh;
    right : 0;
    width : 100%;
    height: 100%;
  }
}

/* .full-screen{
  width: 94vw;
  height: 90vh;
  left: 3vw;
  top: 80px;
} */

.ui-icon{
  background-image: none;
  width: 9px;
  height: 9px;
  right: -5px;
  bottom: -5px;
}
.opac {
  opacity: .7;
}

.move-cursor {
  cursor: move;
}

.grab-cursor {
  cursor: grab;
  cursor: -webkit-grab;
}

.point-cursor{
  cursor: pointer;
}
/* raiz side tab */

.raiz-side-tab-container{
  position: fixed;
  width: 350px;
  height: calc(100% - 120px);
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 11;
  top: 90px;
  left: 0;
  box-shadow: 0 15px 15px rgba(0,0,0,0.3);
  z-index : 49;
  display: none;
  overflow-y: auto;
  -webkit-transition: width 0.35s ease;
  -moz-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  transition: width 0.35s ease;

}

.side-tab-header{
  width: 100%;
  height: 50px;
  background-color: #333;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.side-tab-header span{
  font-size: 17px;
  /* letter-spacing: -1px; */
  line-height: 2.6;
}

.raiz-side-tab-return{
  float: right;
  cursor: pointer;
}

.raiz-side-tab-list *{
  width: 100%;
  color : #333 !important;
  background-color: #effaee;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -1px;
  border: 1px solid #ffffff;
  /* margin-bottom: 0; */
  margin: 0 0 0 0;
}

.raiz-side-tab-list *:hover{
  border: 1px solid #333;
}

.raiz-side-tab-content {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
}

.raiz-side-tab-content > li {
  display: none;
}

.form-control:focus{
  border-color : #32d38d;
}

/* .raiz-side-tab-content li .input-group{
  margin-top : -20px;
} */

.raiz-side-tab-content li input{
  margin-top : 0;
  height: 30px;
  border: 1px solid #bdbdbd;
  font-size: 15px;
  color: #333;
  /* padding-left: 5px; */
}

.raiz-side-tab-content li input[type=text]:focus{
  box-shadow : inset 0 0 5px #32d38d;
  border-bottom: 1px solid #32d38d;
}

.raiz-side-tab-content > span,
#keyword-input-group > span,
#jibun-input-group > span {
  padding: 6px 20px;
  cursor: pointer;
  background-color : #32d38d;
}

.raiz-side-tab-content > span:hover{
  -webkit-transition: background-color 0.35s ease, color 0.35s ease;
  -moz-transition: background-color 0.35s ease, color 0.35s ease;
  -o-transition: background-color 0.35s ease, color 0.35s ease;
  transition: background-color 0.35s ease, color 0.35s ease;
  background-color : #26a76f;
}

/* keyword search suggestions */
.keyword-suggestions, .keyword-result,
.jibun-suggestions, .jibun-result {
  background-color: white;
  width: 100%;
  /* height: 400px; */
  /* display:none; */
}

.keyword-suggestions-list-group, .keyword-result-list-group,
.jibun-suggestions-list-group, .jibun-result-list-group {
  padding-left: 15px;
  padding-right: 15px;
}

.keyword-suggestions-list-group li,
.keyword-result-list-group li,
.jibun-suggestions-list-group li,
.jibun-result-list-group li {
  display: table;
  font-size: 1.2em;
  margin-top:5px;
  height: 30px;
  width: 100%;
}

.keyword-result-list-group .place_name,
.jibun-result-list-group .place_name{
  font-weight: bold;
}

.keyword-suggestions-list-group li:hover,
.jibun-suggestions-list-group li:hover {
  -webkit-transition: background-color 0.35s ease, font-size 0.35s ease;
  -moz-transition: background-color 0.35s ease, font-size 0.35s ease;
  -o-transition: background-color 0.35s ease, font-size 0.35s ease;
  transition: background-color 0.35s ease, font-size 0.35s ease;
  background-color: #effaee;
  font-size: 1.3em;
  cursor: pointer;
}

.keyword-result-list-group li:hover,
.jibun-result-list-group li:hover {
  -webkit-transition: background-color 0.35s ease, font-size 0.35s ease;
  -moz-transition: background-color 0.35s ease, font-size 0.35s ease;
  -o-transition: background-color 0.35s ease, font-size 0.35s ease;
  transition: background-color 0.35s ease, font-size 0.35s ease;
  background-color: #effaee;
  cursor: pointer;
}

/* sil side tab */
.sil-location-name{
  font-size: 1.8em;
  /* border-bottom: 1px solid #e2d7d7; */
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}

.sil-filter-index{
  /* height: 150px; */
  /* background: yellow; */
  font-size: 17px;
  text-align: right;
  padding-right: 10px;
  padding-top: 5px;
}

.sil-filter-index > span {
  padding: 0;
  background-color: #ffffff;
}

.sil-filter-index > span:hover {
  -webkit-transition: color 0.35s ease, font-size 0.35s ease;
  -moz-transition: color 0.35s ease, font-size 0.35s ease;
  -o-transition:color 0.35s ease, font-size 0.35s ease;
  transition: color 0.35s ease, font-size 0.35s ease;
  color: #32d38d;
  background-color: #ffffff;
  cursor: pointer;
}
.sil-filter-content {

}

.sil-filter-content .ti-reload{
  float: right;
  margin-right: 15px;
  font-size: 15px;
  background-color: #aff39a;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid #aff39a;
}

@keyframes rotating
	{
	from
		{
		transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		}
	to
		{
		transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		}
	}
@-webkit-keyframes rotating
	{
	from
		{
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		}
	to
		{
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		}
	}
.rotating
	{
	-webkit-animation: rotating 0.35s linear infinite;
	-moz-animation: rotating 0.35s linear infinite;
	-ms-animation: rotating 0.35s linear infinite;
	-o-animation: rotating 0.35s linear infinite;
	animation: rotating 0.35s linear infinite;
	}

.sil-filter-content .ti-reload:hover{
  -webkit-transition: border 0.35s ease, transform 1s ease;
  -moz-transition: border 0.35s ease, transform 1s ease;
  -o-transition:border 0.35s ease, transform 1s ease;
  transition: border 0.35s ease, transform 1s ease;

  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-360deg);
  border: 2px solid #7cad6d
}

.sil-result-container{
  border-top: 1px solid #e2d7d7;
}

.dropdown-menu {
  float: none;
  position :inherit;
}

.sil-filter-dropdown {
  background-color: #d8dad8;
}

.sil-filter-dropdown .btn{
  color: black !important;
  background-color: #ceefcb;
  font-size : 15px;
  width: 330px;
}

.sil-dropdown .btn{
  color: black !important;
  background-color: #effaee;
  font-size : 15px;
  width: 300px;
}
.sil-result-container .sil-result-list li,
.sil-filter-dropdown-menu li{
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border-bottom: 1px solid #d4c8c8;
  cursor: pointer;
}

.sil-result-container .sil-result-list li:hover,
.sil-filter-dropdown-menu li:hover {
  -webkit-transition: background-color 0.35s ease, font-size 0.35s ease;
  -moz-transition: background-color 0.35s ease, font-size 0.35s ease;
  -o-transition:background-color 0.35s ease, font-size 0.35s ease;
  transition: background-color 0.35s ease, font-size 0.35s ease;
  background-color: #cae8c0;
}

.sil-result-container .sil-result-list .sil-result-item-title:hover,
.sil-result-container .sil-result-list .sil-result-item:hover{
  -webkit-transition: background-color 0.35s ease, font-size 0.35s ease;
  -moz-transition: background-color 0.35s ease, font-size 0.35s ease;
  -o-transition:background-color 0.35s ease, font-size 0.35s ease;
  transition: background-color 0.35s ease, font-size 0.35s ease;
  background-color: #effaee;
}

.sil-result-container .sil-result-list li div{
  padding-bottom: 5px;
  border-bottom: 1px solid #d4c8c8;
}

.sil-result-item .ti-arrow-down,
.sil-result-item .ti-arrow-up {
  float:right;
  padding: 0;
  /* background-color : #ffffff; */
}
/*
.sil-result-item span:hover{
  -webkit-transition: color 0.35s ease, font-size 0.35s ease;
  -moz-transition: color 0.35s ease, font-size 0.35s ease;
  -o-transition:color 0.35s ease, font-size 0.35s ease;
  transition: color 0.35s ease, font-size 0.35s ease;
  color: #32d38d;
  background-color : #ffffff;
} */


/* map footer */
.map-footer{
  display: flex;
  cursor: pointer;
  font-size:1rem;
  bottom:0px;
  width: 100%;
  height: 30px;
  position: absolute;
  background-color: #1a1a1a;
  z-index: 50;
}

.footer-tab-container .tab-name{
  /* border: 1px solid black; */
  padding: 5px;
  margin-left:5px;
  margin-right:5px;
  color: white;
  display: flex;
  font-size:13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.footer-tab-container {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
}

.footer-tab-container .tab-name:hover {
  color: #d2f7cb;
}

.footer-tab-container .ti-close{
  color: white;
  line-height: 3;
}

.footer-tab-container .ti-close:hover{
  color: pink;
}


/* raiz controller buttons */
.raiz-button{
  overflow: hidden;
  background-color: #333;
  color: #ffffff !important;
  font-size: 13px;
  margin: 0px;
  margin-right: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
}

.raiz-button:hover{
  /* border: 1px solid #27b874; */
  font-size: 15px !important;
}

/* map footer button */

/* address info */
.raiz-cur-addr{
  position: absolute;
  display: none;
  z-index: 20;
  left: 50%;
  bottom: 45px;
}

.raiz-cur-addr a{
  border-radius: 25px;
  padding: 10px;
  background-color: #ffffff;
  color : #333;
  box-shadow: 4px 4px 5px #888888;
}

/* map controller */
.map-controller {
  position: absolute;
  top : 50px;
  right: 10px;
  width: 50px;
}

.map-controller .btn {
  background-color: #333;
  padding: 1rem 1.5rem;
  font-size: 15px;
}

.map-controller .btn-with-text{
  font-size: 12px;
  padding : 1.1rem 1.2rem;
  white-space: nowrap !important;
}

.map-filter-list,
.map-around-list{
  z-index: 10;
  position: absolute;
  display: grid;
  width: 90px;
  right: 45px;
}

.map-filter-list .btn,
.map-around-list .btn{
  background-color: #f8f1f1;
  -webkit-transition: background-color 0.35s ease;
  -moz-transition: background-color 0.35s ease;
  -o-transition: background-color 0.35s ease;
  transition: background-color 0.35s ease;

}

.map-filter-list .btn > span,
.map-around-list .btn > span {
  color: #000000;
}

.wrap {
  position: absolute;
  left: 30px;
  bottom: 30px;
  width: 245px;
  height: 112px;
  margin-left: -144px;
  text-align: left;
  overflow: hidden;
  font-size: 12px;
  font-family: inherit;
  line-height: 1.5;
}

.wrap .info:nth-child(1) {
    border: 0;
    box-shadow: 0px 1px 2px #888;
}

.wrap .info {
    width: 245px;
    height: 100px;
    border-radius: 5px;
    border-bottom: 2px solid #ccc;
    border-right: 1px solid #ccc;
    overflow: hidden;
    background: #fff;
}

.info .title {
    padding: 5px 0 0 10px;
    height: 30px;
    background: rgba(65, 201, 128, 0.26);
    border-bottom: 1px solid #ddd;
    font-size: 13px;
    letter-spacing: -1px;
    font-weight: bold;
}

.info .body {
    padding-left: 10px;
    padding-top: 10px;
    position: relative;
    overflow: hidden;
}

.info .close {
    position: absolute;
    top: 7px;
    right: 10px;
    color: #888;
    width: 17px;
    height: 17px;
    background: url(http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png);
}

/* toaster */

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    font-size: 13px;
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 6px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    top: 110px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 110px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 110px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 110px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 110px; opacity: 1;}
    to {top: 0; opacity: 0;}
}
